.shopcartHead,
.homeHeader,
.kindsHeader,
.profileHead {
  position: fixed;
  top: 0;
  left: 0;
  width: 7.1rem;
  height: 0.87rem;
  background: #fff;
  line-height: 0.87rem;
  font-size: 0;
  padding: 0 0.16rem 0 0.24rem;
  border-bottom: 0.01rem solid #f4f4f4;
  z-index: 999;
  display: flex;
  align-items: center;
}
.shopcartHead >i,
.homeHeader >i,
.kindsHeader >i,
.profileHead >i {
  height: 0.44rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.shopcartHead >i img,
.homeHeader >i img,
.kindsHeader >i img,
.profileHead >i img {
  position: absolute;
  transform: translate(-0.85rem, -2.76rem) scale(0.5);
}
.profileHead i:nth-child(1) {
  width: 0.48rem;
  height: 0.44rem;
}
.profileHead i:nth-child(2) {
  width: 5.09rem;
}
.profileHead i:nth-child(2) img {
  transform: translate(1.4rem, -3.3rem) scale(0.5);
}
.profileHead i:nth-child(3) {
  width: 10%;
}
.profileHead i:nth-child(3) img {
  transform: translate(-0.85rem, -5.4rem) scale(0.5);
}
.profileHead i:nth-child(4) {
  width: 10%;
}
.profileHead i:nth-child(4) img {
  transform: translate(-0.85rem, -2.1rem) scale(0.5);
}
.homeHeader {
  padding: 0.16rem 0.2rem;
  height: 0.56rem;
  border: none;
}
.homeHeader > i {
  width: 1.65rem;
  margin-right: 0.3rem;
}
.homeHeader > i img {
  transform: translate(-0.85rem, -3.3rem) scale(0.5);
}
.homeHeader div {
  width: 5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2);
  height: 0.5rem;
  border-radius: 0.03rem;
}
.homeHeader div i {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.homeHeader div i img {
  transform: translate(-1.06rem, -5.05rem) scale(0.4);
}
.homeHeader div span {
  height: 0.5rem;
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #333;
}
.kindsHeader {
  padding: 0 0.3rem;
  width: 6.9rem;
}
.kindsHeader div {
  width: 6.9rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2);
  height: 0.5rem;
  border-radius: 0.03rem;
}
.kindsHeader div i {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.kindsHeader div i img {
  transform: translate(-1.06rem, -5.05rem) scale(0.4);
}
.kindsHeader div span {
  height: 0.5rem;
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #333;
}
.shopcartHead {
  width: 6.9rem;
  padding: 0 0.3rem;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.38rem;
  justify-content: space-between;
}
.shopcartHead h3 {
  position: relative;
  left: 2.9rem;
}
.shopcartHead .ticket {
  font-size: 0.3rem;
  color: #b4282d;
}
