
.scroll-pic .swiper-pagination .my-bullet{
  /*在这里加上去的样式也有问题 ,原来是行内元素*/
  display:inline-block;
  margin : .1rem 0.1rem ;
  width: .35rem;
  height: .06rem;
  background: #f4f4f4;
}
.scroll-pic .swiper-pagination .my-bullet-active{
  background: #b4282d;
}