.shopcart {
  padding-top: 0.88rem;
}
.shopcart .content {
  background: #f4f4f4;
  height: 12rem;
  position: relative;
}
.shopcart .content .discount {
  justify-content: space-around;
  font-size: 0.25rem;
  padding-top: 0.3rem;
  display: flex;
}
.shopcart .content .backImg {
  position: absolute;
  top: 40%;
  left: 35%;
  color: #333;
}
.shopcart .content .backImg .bg-icon {
  width: 2rem;
  height: 2rem;
  background: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/noCart-a8fe3f12e5.png");
  background-size: 2rem 2rem;
}
.shopcart .content .backImg .login {
  width: 4.5rem;
  height: 1rem;
  color: #fff;
  margin-top: 25px;
  text-align: center;
  line-height: 1rem;
  background: #b4282d;
  position: absolute;
  left: -55%;
}
