.kindsWrap
  width 7.5rem
  overflow hidden
  padding-top .88rem
  .kindsCan
    display flex
    flex-flow row nowrap
    overflow hidden
    position relative
    .leftList
      width 1.62rem
      height 11.46rem
      overflow hidden
      border-right .001rem  solid #e1e1e1
      .oneNav
        text-align center
        font-size .3rem
        line-height .5rem
        color #333
        margin-top .4rem
        overflow hidden
        width 1.61rem
        border-left .05rem solid #fff
      .on
        color #b4282d
        border-left .05rem solid #b4282d
    .rightList
      padding .3rem .3rem .21rem
      width 5.27rem
      position absolute
      left 1.62rem
      height 11.46rem
      overflow hidden
