.timeShop
  background #fff
  width 6.54rem
  height 3.2rem
  padding .3rem .4rem .3rem .56rem
  margin-bottom .26rem
  margin-top .26rem
  display flex
  justify-content space-between
  .dowmTime
    display flex
    flex-flow column nowrap
    justify-content center
    h3
      font-size .4rem
      height 1rem
      line-height 1rem
      letter-spacing .2rem
    .timeTo
      margin-bottom .3rem
      >span:nth-child(odd)
        display inline-block
        width .5rem
        height .5rem
        line-height .5rem
        color#fff
        background rgba(0,0,0,0.8)
        text-align center
        font-size  .3rem
      span:nth-child(even)
        font-size  .3rem
        width .15rem
        height  .46rem
        display inline-block
  .timePro
    position relative
    background url("http://yanxuan.nosdn.127.net/2f2c1e633c491d3042b191956939aadf.png") no-repeat
    background-size 2rem 2rem
    div
      width 1rem
      height 1rem
      border-radius .5rem
      background  rgba(244,143,24,.95)
      text-align center
      display flex
      flex-flow column nowrap
      justify-content center
      position absolute
      bottom 0
      right 0
      span
        color #fff
        font-size .2rem
        margin .05rem 0

